[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-moment = "*"
click = "*"
bootstrap-flask = "*"

[requires]
python_version = "3.7"
