<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A Crazily Simple Message Board">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="author" content="echocho">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} Message Board {% endblock %}</title>
    </head>
    <body>
        <h1>Message Board</h1>
        <br>
        {% block content %}{% endblock %}
    </body>
    
</html>