{% extends 'base.html' %}

{% block content %}
<form method="POST" action="{{ request.full_path }}" align='middle'>
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(size=20) }}
    <br><br>
    {{ form.message.label }} {{ form.message(size=200) }}
    <br><br>
    {{ form.submit }}
    <br><br>
    {% for message in messages %}
        <p1>
            {{ message.author }} {{ moment(message.created_at).fromNow(refresh=True) }}
        </p1>
        <p>'{{ message.content }}'</p>
        <br><br> 
    {%endfor %}
</form>
{% endblock %}